@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Noto+Serif+TC:wght@300;400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
.font_comorant{
    font-family: 'Cormorant Garamond', serif;
}
.font_noto{
    font-family: 'Noto Serif TC', serif;
}
.font_micro{
    font-family: Microsoft JhengHei;
}
@function pxConvertor($args) {
    @return $args/1920*100vw;
}
@function pxConvertor2($args) {
    @return $args/768*100vw;
}
.computer{
    display: inline-block;
}
.phone{
    display: none;
}
@media all and (max-width:820px) {
    .computer{
        display: none;
    }
    .phone{
        display: block;
    }
}
@mixin tablet() {
    @media all and (max-width:820px) {
        @content;
        .computer{
            display: none;
        }
        .phone{
            display: block;
        }
    }
}



.paraStyle{
    .font_comorant{
        font-size: pxConvertor(80);
        color: #A8A8A8;
        opacity: 0.4;
        font-weight: 500;
        line-height: 1;
        @include tablet(){
            font-size: pxConvertor2(60);
            text-align: center;
        }
    }
    .box{
        margin: pxConvertor(45) 0 pxConvertor(50);
        @include tablet(){
            margin: pxConvertor2(45) 0 pxConvertor2(50);
        }
        .font_noto{
            font-size: pxConvertor(36);
            color: #F4D090;
            letter-spacing: 0.05em;
            font-weight: 400;
            @include tablet(){
                font-size: pxConvertor2(45);
                text-align: center;
            }
        }
        .newText1{
            color: #8C713B;
         
        }
        .newText2{
            color: #A88E4F;
            font-size: pxConvertor(25);
            @include tablet(){
                color: #8C713B;
                font-size: pxConvertor2(37);
                margin-top: 3vw;
            }
        }
        img{
            width: pxConvertor(473.16);
            margin: 0.4vw 0 0 0.3vw;
            @include tablet(){
                width: 100%;
                margin: 2vw 0 0 0.9vw;
            }
        }
    }
    
    .font_micro{
        font-size: pxConvertor(16);
        color: #fff;
        letter-spacing: 0.05em;
        width: pxConvertor(473.16);
        line-height: 1.7em;
        font-weight: 300;
        @include tablet(){
            width: 100%;
            font-size: pxConvertor2(30);
        }
    }
}

.span-left{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1vw 16px;
    background: linear-gradient(to right , #000 0% ,#00000086 30%, #0000005b 80%, transparent 100%);
    span{
        font-family: Microsoft JhengHei;
        color: #fff;
        font-size: 16px;
        @include tablet(){
            font-size: 12px;
        }
    }
}
.span-right{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 1vw 16px;
    background: linear-gradient(to left , #000 0% ,#00000086 30%, #0000005b 80%, transparent 100%);
    span{
        font-family: Microsoft JhengHei;
        color: #fff;
        font-size: 16px;
        @include tablet(){
            font-size: 12px;
        }
    }
}







@keyframes shining{
    0% {
        transform: scale(0);
    }
    30% {
        transform: scale(1.8);
    }
    60% {
        transform: scale(0);
        rotate: 360deg;
    }
    100% {
        transform: scale(0);
        rotate: 360deg;
    }
}

@keyframes breath{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes radio{
    0%{
        opacity: 1;
        transform: scale(0);
    }
    90%{
        opacity: 0.25;
    }
    100%{
        opacity: 0;
        transform: scale(1);
    }
}